{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block body %}
    <div class="container">
        <h1>We are here to save the notes!</h1>
        <h2> you can easily save your notes here!</h2>
        <a class="nav-link" href="{{ path('notes.create') }}>Create a New Note</a>   
        </div>
{% endblock %}
