{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
 <div class="container  jumbotron">
 <h2> If you are new, Register Here!</h2><br>
 {{ form(form) }}
 </div>
{% endblock %}
